<template name="secret">
  <div class="secret-box" id="secret-{{ _id }}">
    <div class="inner-box">
      <section class="secret-content" id="back-1">
        <p>{{ body }}</p>
        <div class="reactionPrompt">
          <div class="underline">
            <label for="comment">This is</label>
            <input type="text" id="add-reaction" name="comment" placeholder="Enter comment" />
            <span class='help'>click to submit</span>
            {{#if instance.state.get "reactionQuery"}}
              <div class="reactions-dropdown">
                <ul>
                  {{#each words}}
                    <li>
                      <a id="reaction">
                        {{ name }}
                      </a>
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/if}}
          </div>
        </div>
      </section>

      <div class="comment-section clearfix">
        <div class="sideContent">
          <div class="socialContainer">
              <a href="https://www.facebook.com/dialog/feed?
              app_id=294770120653592&
              link=http://scrt.ly/&
              picture=img/welcome_email/welcome-bg.jpg&
              name=Scrt.ly&display=popup&
              description=this is share text&
              redirect_uri=http://scrt.ly/" id="facebook" target="blank"></a>

              <a href="https://twitter.com/intent/tweet?url=http://www.scrt.ly&text=this is secret text&via=scrtly&lang=en" id="twitter"></a>
          </div>
          <a class="daily-secret">SUBSCRIBE</a>
        </div>


        <div class="message" id="message-secret-id"></div>
        <ul class="comment-list">
          {{#each comments}}
            <li>
              <p>
                Someone thought this was <span>{{ body }}</span>
              </p>
            </li>
          {{/each}}
        </ul>

        <div class="clearfix"></div>
        <br />
      </div>
      <a class="comment-number">
        <span class="count">{{ commentsCount }}</span> reactions
      </a>
    </div>
  </div>
</template>
