.wrap{
	float: left;
	width: 97%;
	min-height: 600px;
	padding: 20px;
}
.list-table{
	/*width: 900px;*/
}
.button-upload{
	width: 100%;
	margin: 20px 0;
	text-align: right;
}

div.footer{
	margin-top: 50px;
	font-size: 11px;
	color: #999;
	text-align: center;
	width: 100%;
}