
@media screen and (max-width:980px) {

	header{
			font-size: 20px;
		}


	.slogan h1 {
}

	ul.general-list li a {
			font-size: 16px;
	}

	section.secret-content p {
		font-size: 23px;
	}

	.share-your {
		width: 600px;
		margin-left: -333px;
		padding: 16px 33px;
	}

	.common {
		font-size: 25px;
		line-height: 30px;
	}
}



/* - - - - - - - - - - - - - - - -
	768px
	- - - - - - - - - - - - - - - - -
*/



@media screen and (max-width:768px) {
	
	
	#container {
		padding: 1px;
}

/* reduces space between  secrets*/
	.secret-box {
		min-height: 200px;
}

	.share-your {
		width: 250px;
		height: 150px;
		margin-left: -140px;
		padding: 10px 10px;
	}
	
	
/* HEADER */

	header {
		height: 20px;
		padding: 5px 10px;
		font-size: 15px;
		text-align:center;
		background: rgba(0,0,0,.9);
	}
	
	header:hover {
		background: rgba(0,0,0,.9);
}


/* LOGO */

	.logo {
		width: 20%;
		margin: 0
	}

	.logo a {
		width: 20px;
		height: 20px;
		background: transparent url(../img/mobile/logo.png) no-repeat 0 0;
	}
	
	.logo span {
		display: none;
	}

/* SLOGAN */
	
	.slogan {
		margin: 5px 0;
		width: 45%;
	}

	.slogan h1 {
		color: #999;
	}

	.slogan h1 a {
		color: #fff;
		text-decoration: none;
	}
	

/* signup */	
	.dropdown {
		z-index: 1;
		left: -160px;
	}

	
/* TOP LINKS */
	
	.menu {
		min-width: 30px;
		margin: 3px 0;
		padding: 0;
		float:right;
	}
	
	ul.general-list li{
		padding: 0 5px;
		margin: 0
	}
	
	ul.general-list li a {
		color: #aaa;
}


#content {
		top:50px;
		bottom: 50px;
	}
	
	.scroll-more{
		display: none !important;
	}
	
	
	
	
	/* SECRET */

	section.secret-content  {
		width: 80%;
		margin: 0 auto;
	}


	section.secret-content p {
		padding: 20px 10px;
		font-size: 14px;
		line-height: 20px;
	}
	
	.containerCenter {
		width: 72%;
		margin: 0 auto;
	}

/* REACTIONS */
	
	ul.secret-list {
		display: none
}

	.reactionPrompt{
		display: none
}		
	
	
	/* PRIVACY */
	
	.privacy {
		width: 400px;
		opacity: 1;
		margin-left: -250px;
	}

	.privacy h1 {
		font-size: 30px;
		line-height: 40px;
	}

	.privacy h2 {
		font-size: 25px;
		margin-bottom: 25px;
	}

	.privacy p {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.privacy h3 {
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 60px;
	}

	.privacy button {
		position: absolute;
		bottom: -40px;
		left: 50%;
		margin-left: -100px;
		background: #fff;
		border: 1px solid #000;
		text-transform: uppercase;
	}

	.dropdown.active {
		opacity: 1;
		z-index: 99;
		width: 200px;
		height: auto;
		overflow: visible;
	}

	.dropdown h1 {
		font-size: 22px;
	}

	.share-your {
		width: 400px;
		margin-left: -240px;
		padding: 10px 20px;
	}

	.common {
		font-size: 20px;
		line-height: 25px;
	}

	form .counter {
		width: 35px;
		height: 20px;
		padding-top: 3px;
		font-size: 16px;
	}

	.share-your input[type="submit"] {
		font-size: 20px;
		padding: 10px 40px;
		bottom: -45px;
		left: 50%;
		margin-left: -90px;
	}

	.modal-response {
		width: 400px;
		margin-left: -200px;
	}
	
	.modal-response.active {
		top: 70%;
}

	.up-peace h1 {
		font-size: 35px;
		padding: 10px 10px;
	}

	.up-peace h2 {
		font-size: 20px;
		margin-bottom: 7px;
	}

	.up-peace h3 {
		width: 240px;
		margin-bottom: 12px;
	}

	.up-peace h3 p{
		width: 100%;
		font-size: 14px;
		padding: 6px 10px;
	}

	.up-peace h3 a {
		font-size: 16px;
		padding: 6px 6px;
		margin-left: 6px;
	}

	.up-peace > p {
		font-size: 20px;
		padding-bottom: 12px;
	}

	.down-peace {
		background: rgba(255,255,255,0.7);
		padding: 35px 4px 20px 14px;
		overflow: hidden;
	}

	.down-peace ul li {
		float: left;
		margin-right: 10px;
		border: 1px solid #000;
	}

	.down-peace ul li a {
		font-size: 17px;
		padding: 12px 14px;
	}
}





/* - - - - - - - - - - - - - - - - - - - -
		MAX 550
		- - - - - - - - - - - - - - - - - - - - 
*/


@media screen and (max-width:560px), (max-width:460px) {

	
	/* hide footer social icons and comment section*/
	.social-container, .comment-section, #bottomNav{
  	display: none
	}

	#content {
		margin-right: 5px;
		margin-left: 5px;
	}

	.secret-list {
		width: auto;
	}

	.secret-list li {
		margin-bottom: 10px;
	}

	.privacy {
		width: 300px;
		margin-left: -150px;
	}

	.privacy h1 {
		font-size: 30px;
		line-height: 45px;
	}

	.privacy h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}


	.privacy p {
		font-size: 18px;
		margin-bottom: 7px;
	}

	.privacy h3 {
		font-size: 18px;
		margin-top: 15px;
		margin-bottom: 45px;
	}

	.privacy button {
		position: absolute;
		bottom: -24px;
		left: 50%;
		margin-left: -55px;
		background: #fff;
		border: 1px solid #000;
		text-transform: uppercase;
	}

	.privacy button a {
		font-size: 15px;
		padding: 12px 28px;
	}

	.share-your {
		width: 250px;
		margin-left: -140px;
		padding: 10px 10px;
	}

	.common {
		font-size: 16px;
		line-height: 22px;
	}

	form .counter {
		width: 35px;
		height: 20px;
		padding-top: 3px;
		font-size: 16px;
	}

	.share-your input[type="submit"] {
		font-size: 20px;
		padding: 10px 40px;
		bottom: -45px;
		left: 50%;
		margin-left: -90px;
	}

	.modal-response {
		width: 280px;
		margin-left: -140px;
	}

	.up-peace h1 {
		font-size: 25px;
		padding: 8px 10px;
	}

	.up-peace h2 {
		font-size: 18px;
		margin-bottom: 7px;
	}

	.up-peace h3 {
		width: 240px;
		margin-bottom: 12px;
	}

	.up-peace h3 p{
		width: 100%;
		font-size: 14px;
		padding: 6px 10px;
	}

	.up-peace h3 a {
		font-size: 16px;
		padding: 6px 6px;
		margin-left: 6px;
	}

	.up-peace > p {
		font-size: 18px;
		padding-bottom: 10px;
	}

	.down-peace {
		background: rgba(255,255,255,0.7);
		padding: 10px 4px 10px 9px;
		overflow: hidden;
	}

	.down-peace ul li {
		float: left;
		margin-right: 5px;
		border: 1px solid #000;
	}

	.down-peace ul li a {
		font-size: 13px;
		padding: 7px 7px;
	}

	.containerCenter {
		width: 268px;
		display:none;
	}

	.menu {
		display:none !important;
	}
	
	.slogan {
		display: none !important;
	}

	.logo {
		width:100% !important;
	}

	.logo span {
		display: block !important;
		color: #fff;
		font-size: 16px;
		margin: 0 0 3px 35px;
	}
}

@media screen and (max-width:460px) {
	.logo {
		width: 10%;
	}
}