<template name="menu">
  <div class="menu">
    <ul class="general-list">
      <li>
        <a href="#" id="toggle-subscribe">
          Subscribe by Email
        </a>
        <div class="dropdown" id="dropdown">
          <h1>People share secrets. We curate.</h1>
          <h2>Subscribe to get the best of them.</h2>
          <form class="subscription-form">
            <input type="text" id="mail" name="mail" placeholder="email address" />
            <input type="submit" id="submit" name="submit" value="subscribe" />
          </form>
        </div>
      </li>
    </ul>
  </div>
</template>
