<template name="privacyDialog">
  <dialog class="privacy modalStyle big-link" id="privacy-modal">
    <h1>Your secrets are safe with us.</h1>
    <h2>WHEN YOU SUBMIT A SECRET:</h2>
    <p>We don't ask for your name...</p>
    <p>We don't ask for your email address...</p>
    <p>We don't track your computer address...</p>
    <h3>We have no idea who you are, and we don't care.</h3>
    <button><a href="mailto: someemail@email.com">talk to us</a></button>
    <a class="close-reveal-modal" id="close-modal">
      &#215;
    </a>
  </dialog>
</template>
