<template name="responseDialog">
  <dialog class="modal-response modalStyle big-link" id="share-response">
    <div class="up-peace">
      <h1>Thanks for sharing.</h1>
      <h2>YOUR SECRET NOW LIVES HERE</h2>
      <h3><p id="url">http://some-url</p><a id="copy-text" data-clipboard-target="#url" href="#">COPY</a></h3>
      <p>...and is in the cue for inclusion on the home screen</p>
    </div>
    <div class="down-peace">
      <ul>
        <li><a id="go-sign-up" href="#">Subscribe by email</a></li>
        <li><a href="/secrets">browse secrets</a></li>
        <li><a id="share-another" href="#">share another</a></li>
      </ul>
    </div>
    <a class="close-reveal-modal" id="close-modal">
      &#215;
    </a>
  </dialog>
</template>
